html, body {
    margin: 0;
    padding: 0;
}

#top-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #FEECEE;
    margin: 0;
    padding: 0;
}

#top-controls button {
    border: none;
    background-color: white;
}