html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(36, 36, 49);
}

.hidden {
    display: none;
}

#top-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(49, 49, 66);
    margin: 0;
    padding: 5px;
    position: fixed; /* Make the top-controls fixed */
    top: 0; /* Stick to the top of the screen */
    width: 100%; /* Ensure it spans the full width of the screen */
    z-index: 1000; /* Ensure it stays above other elements */
}

#top-controls .logo {
    display: flex;
    flex-direction: row;
}

#top-controls input {
    width: 90vw;
}

#main-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px; /* Add margin to avoid overlap with the fixed header */
}

.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 25px 0;
}

.post > * {
    width: 40vw;
    padding: 10px;
}
